<!DOCTYPE html>
<html lang="en">
  <head>
    <title>3D Web - A Metallic Sphere</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="icon" type="image/svg+xml" href="../img/favicon.svg" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> 
  </head>
  <body>
    <div class="container">
      <h1>Feel The Sphere</h1>
    </div>
    <canvas id="bg"></canvas>
    <section></section>

    <a href="../../index.html" class="float">
      <i class="fa fa-chevron-left my-float"></i>
    </a>

    <script type="module" src="../js/sphere.js"></script>
  </body>
</html>
