.float{
	position:fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	background-color:rgb(60, 60, 60);
	color:#FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 1px 1px 2px rgb(61, 61, 61);
    z-index: 2;
}

.my-float{
	margin-top: 22px;
}